@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 4.5rem;

    --body-font: 'Poppins', sans-serif;

    --blue-color: #0069aa;
    --white-color: #fff;
    --red-color: #ac4432;
    --black-color: #000;

    --fs-xxl: 4.5rem;
    --fs-md: 1rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --zi-fixed: 100;
    --zi-tooltip: 100;
}

@media (max-width: 768px) {
    :root {    
        --header-height: 3.5rem;

        --fs-xxl: 3rem;
        --fs-md: 0.85rem;
    }
}